<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../add.js">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header>
    <div class="container p-1 mb-2 bg-secondary text-white">
        <nav>
            <h1 th:text="${title}"></h1>

            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="https://sneakergeniusforum.discussion.community/">Forum</a></li>
                <li><a th:href="@{/sneakers}">Sneaker Profiles</a></li>
                <li><a th:href="@{/search}">Search Sneakers</a></li>
                <li><a th:href="@{/release}">Upcoming Release Dates</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
<div class="container">
<form method="post">

    <th:block th:each="sneaker : ${sneakers}">
        <div class="form-group">
            <label>
                <span th:text="${sneaker.name}"></span>
                <input type="checkbox" name="sneakerIds" th:value="${sneaker.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</div>
</body>
</html>