<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../add.js">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<form th:action="@{sneakers/edit}" method="post">
    <div class="form-group">

        <label>Name
            <input type="text" name="name" th:value="${sneaker.name}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <div class="form-group">
            <label>Description
                <input type="text" name="description" th:value="${sneaker.designer}" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Name of Venue
                <input type="text" name="venue" th:value="${sneaker.colorway}" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>How Many Attendees?
                <input type="text" name="attendees" th:value="${sneaker.releaseDate}" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Is Registration Required?
                <input type="text" name="registration" th:value="${sneaker.retailPrice}" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Date of Event
                <input type="text" name="date" th:value="${sneaker.description}" class="form-control">
            </label>
        </div>
        <input type="hidden" th:value="${sneaker.id}" name="sneakerId" />
        <input type="submit" value="Edit" class="btn btn-success">
    </div>
</form>


</body>
</html>