<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../add.js">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<header>
    <div class="container p-1 mb-2 bg-secondary text-white">
        <nav>
            <h1 th:text="${title}"></h1>

            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="https://sneakergeniusforum.discussion.community/">Forum</a></li>
                <li><a th:href="@{/sneakers}">Sneaker Profiles</a></li>
                <li><a th:href="@{/search}">Search Sneakers</a></li>
                <li><a th:href="@{/release}">Upcoming Release Dates</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
<div class="container">
<ul>
    <li><a class="nav-link" href="/sneakers/add">Add Sneaker Profile</a></li>
    <li><a class="nav-link" href="/sneakers/delete">Delete Sneaker Profile</a></li>
</ul>
</div>

<br>
<div class="container body-content">
<table class="table table-condensed">
    <tr th:each="sneaker : ${sneakers}">
        <td>
           <p style="font-weight:bold">Sneaker Id:

            <p th:text="${sneaker.id}"> </p>

               <p>
            <p style="font-weight:bold">
                Name:
            <p th:text="${sneaker.designer}"></p>
            <p/>

            <p style="font-weight:bold">
                Designer:
            <p  th:text="${sneaker.releaseDate}"></p>
            </p>

            <p style="font-weight:bold">
                Colorway:
            <p  th:text="${sneaker.colorway}"></p>
            </p>

            <p style="font-weight:bold">
                Year Released:
            <p  th:text="${sneaker.releaseDate}"></p>
            </p>


            <p style="font-weight:bold">
                Retail Price:
            <p  th:text="${sneaker.retailPrice}"></p>
                </p>


            <p style="font-weight:bold">
                Description:
            <p  th:text="${sneaker.description}"></p>
                </p>


            <p style="font-weight:bold">
                Image: </p>
            <img th:src="${sneaker.image}" width="400" height="300"></img>


        </td>
    </tr>
</table>
</div>
</div>
</body>
</html>

